<div class="hero-unit">
	  <h1>Welcome to One Month Rails!</h1>
	<p>Ive really got around to learning Ruby!!
	</p>

	<p>Here is the <%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
