<% if user_signed_in? %>
	<h1>You are Logged In!!!!!</h1>
	<%= link_to "Check out the pins", "/pins" %>
<% else %>
	<div class="hero-unit">
		  <h1>Welcome to One Month Rails!</h1>
		<p>Ive really got around to learning Ruby!!
		</p>

		<p>Here is the <%= link_to "One Month Rails", "http://onemonthrails.com" %>
		</p>
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
			<%= link_to "Check out the pins", "/pins" %>
		</p>
	</div>
<% end %>